@media screen and (max-width:1207px) {
.navi-bar { padding-right: 30px; }
.navi .navbar-default .navbar-nav > li > a { padding: 28px 9px; }
.donations-heding h2 { font-size: 20px; }
/*----14nov---*/
}
@media screen and (max-width:1024px) {
.input-fill { width: 88%; }
/*----14nov---*/
}
@media screen and (max-width:1023px) {
.navi .navbar-default .navbar-nav > li { font-size: 12px; }
.navi-bar { padding-right: 5px; }
.header-section { position: relative; }
.header-section .container,
.header-section .row { position: static; }
.logo-wrp { position: static; }
.logo { left: 20px; width: 100px; z-index: 99; }
.top-header-section { height: auto; padding: 0 0 10px; }
.navi { position: relative; right: 0; }
.header-section .container { position: static; width: 100%; }
.navi { float: right; width: 100%; }
.navbar.navbar-default { display: none; }
.search-wrp { padding: 0 15px; }
.input-fill { width: 84%; }
.bottom-header-section { padding: 15px 0 10px; }
.donations-heding h2 { font-size: 15px; }
.donations-heding h2 span { font-size: 17px; }
.donations-detail { padding: 33px 0 33px 5px; }
.subscribe-btn { padding: 0; }
/*----14nov---*/
}
@media screen and (max-width:980px) {
/*----14nov---*/
}
@media screen and (max-width:991px) {
.fotter-block { font-size: 12px; min-height: 180px; width: 33.3%; float: left; }
.copy { float: left; width: 40%; }
.social-wrp { width: 60%; float: left; }
.form-heading { font-size: 10px; }
.form-box h2 { font-size: 16px; margin: 0 0 15px; padding: 10px 10px; }
.page-heding h2 { font-size: 20px; }
.page-heding { padding: 20px 0; }
.search-block1 { }
.fotter-section { padding: 25px 0; }
.fotter-block h1 { font-size: 14px; margin: 0 0 10px; }
.categories-box ul li { font-size: 11px; }
.categories-box ul li span { font-size: 11px; min-width: 25px; padding: 3px 0; }
ul.search-links li { margin-right: 1%; width: 24.2%; }
.search-block1 { padding: 15px; }
.businesses-cat .inner-heading { font-size: 16px; }
/*----14nov---*/
}
@media screen and (max-width:767px) {
ul.search-filed { display: block; }
ul.search-filed li { float: left; margin-right: 1%; margin-bottom: 5px; width: 49%; }
.search-box { display: inline-block; margin-right: 1%; vertical-align: top; width: 49%; }
ul.search-filed li a { text-align: left; }
.padding-lf { padding-left: 15px; }
.padding-rh { padding-right: 15px; }
.fotter-block h1 { font-size: 15px; margin-bottom: 15px; }
.new_letter input[type="submit"] { font-size: 11px; padding: 0; }
.new_letter input[type="text"] { font-size: 11px; padding: 5px 5px; }
ul.social li { margin-right: 5px; }
.input-fill { width: 80%; }
.new_letter { padding: 0; }
.fotter-section { padding: 20px 0; }
.copy-right { padding: 10px 0; }
ul.search-filed li a { font-size: 11px; padding: 11px 3px; }
.donations-left { float: left; width: 25%; padding-right: 0; }
.donations-heding h2 { font-size: 14px; }
.donations-heding h2 span { font-size: 14px; padding: 5px 0 0; }
.donations-right { float: right; width: 75%; }
.donations-detail p { font-size: 14px; }
.padding-none { padding: 0 15px; }
.block-one p { padding: 10px 15px; font-size: 13px; }
.check-section input.css-checkbox[type="checkbox"] + label.css-label { font-size: 11px; padding-left: 42px; }
ul.search-links li a { font-size: 13px; padding: 10px; }
.level-category ul.search-links li a { padding: 10px; font-size: 12px; }
/*----14nov---*/
}
@media screen and (max-width:639px) {
ul.search-filed li a i { font-size: 11px; padding-right: 5px; }
.input-fill { height: 39px; }
.fotter-block { width: 100%; float: none; min-height: inherit; margin: 0 0 10px; }
.copy { float: none; width: 100%; text-align: center; margin: 0 0 10px; }
.social-wrp { width: 100%; float: none; text-align: center; }
ul.social { text-align: center; }
.page-heding h2 { font-size: 14px; }
ul.search-links li { margin-bottom: 5px; margin-right: 1%; width: 49%; }
.level-category ul.search-links li { margin: 0 0 10px; width: 49%; }
/*----14nov---*/
}
